<form autocomplete="off" #f="ngForm">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-4 ui-md-offset-3 ui-lg-offset-4 ui-xl-offset-4 ui-fluid">
      <h1>Login</h1>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-4 ui-md-offset-3 ui-lg-offset-4 ui-xl-offset-4 ui-fluid">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input id="loginid" name="email" placeholder="Email" type="text" #email ngModel required pInputText autofocus>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-4 ui-md-offset-3 ui-lg-offset-4 ui-xl-offset-4 ui-fluid">
      <span class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
        <input id="senhaid" type="password" [feedback]="false" placeholder="Senha" name="senha" #password ngModel required
          pPassword>
      </span>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-4 ui-md-offset-3 ui-lg-offset-4 ui-xl-offset-4 ui-fluid">
      <div class="inputGroupLogin">
        <button pButton type="submit" icon="fa fa-unlock" [disabled]="!f.valid" (click)="login(email.value, password.value); password.value = ''; password.focus();" label="Fazer Login"></button>
      </div>
    </div>
  </div>
</form>