<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-4">
        <a href="javascript:;" (click)="exibindoMenu = !exibindoMenu" class="navbar-toolgle">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="ui-g-8"><div class="usuario-logado">{{ authService.jwtPayload?.nome}}</div></div>
    </div>
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
      <li class="navbar-menuitem" *ngIf="authService.hasPermission('ROLE_PESQUISAR_LANCAMENTO')" routerLinkActive="ativo"><a routerLink="/lancamentos">Lançamentos</a></li>
      <li class="navbar-menuitem" *ngIf="authService.hasPermission('ROLE_PESQUISAR_PESSOA')" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>
      <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
